<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="apidId" value="YourApiId" />
        <add key="ApiHash" value="YourApiHash" />
        <add key="PhoneNumber" value="YourPhoneNumberWithAreaCode" />
        <add key="myChanId" value="YourChanIdToForward" />
    </appSettings>
</configuration>